*{
    box-sizing: border-box;
}

#res_logo {
    /* float: left; */
    margin-left: 40px;
    display: flex;
    align-items: center;

}

#options {
    /* float:right; */
    margin-right: 40px;
    margin-top: 10px;
}

#header{
    /* background-color: aqua; */
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width:600px; */
}

#res_name{
    font-size: 30px;
    font-family: "Lucida Handwriting";
}

#res_name_container{
    display: flex;
    align-items: center;
}


#footer{
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
    flex-wrap: wrap;
}

#footer #res_logo{
    flex-shrink: 0;
}

.foot_elements{
    flex-shrink: 0;
}

.foot_elements span{
    font-size: 18px;
    font-weight: bold;
}

#footer #res_name{
    font-size: 24px;
}


#main-image{
    flex-basis: 30%;
    padding-left:5vw;
    flex-grow: 1;
} 

#main-image img{
    height: 70vh;
    /* width: 40vw; */
}


#text-container {
    font-size: 25px;
}

#main-text :nth-child(2) {
    font-size: 64px;
    font-weight: bold;
}

#main-section{
    display:flex;
    flex-wrap: wrap;
}


#main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px black solid;
    flex-basis: 30%;
    flex-grow: 1;
    padding-left: 4vw;
}

#main-text div{
    border: 1px black solid;
}

#text-container{
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#text-container :first-child {
    padding: 7px;
}

#text-container :last-child {
    padding: 7px;
}