*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#res_logo {
    /* float: left; */
    margin-left: 40px;
    display: flex;
    align-items: center;

}

#options {
    /* float:right; */
    margin-right: 40px;
    margin-top: 10px;
}

#header{
    /* background-color: aqua; */
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width:600px; */
}

#res_name{
    font-size: 30px;
    font-family: "Lucida Handwriting";
}

#res_name_container{
    display: flex;
    align-items: center;
}


#footer{
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
    flex-wrap: wrap;
}

#footer #res_logo{
    flex-shrink: 0;
}

.foot_elements{
    flex-shrink: 0;
}

.foot_elements span{
    font-size: 18px;
    font-weight: bold;
}

#footer #res_name{
    font-size: 24px;
}


#main-image{
    flex-basis: 30%;
    padding-left:13vw;
    flex-grow: 1;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
} 

#main-image img{
    height: 70vh;
    padding: 10px;
    justify-content: flex-end;
}


#text-container {
    font-size: 25px;
}

#text-container :nth-child(2) {
    font-size: 64px;
    font-weight: bold;
}

#text-container :nth-child(1) {
    background-color: green;
    color: white;
}


#text-container :nth-child(4) {
    background-color: yellow;
    color: black;
}

#text-container :nth-child(3) {
    color: #5d5c5c;
}


#main-section{
    display:flex;
    flex-wrap: wrap;
}


#main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px black solid; */
    flex-basis: 40%;
    flex-grow: 1;
    padding-left: 2vw;
    flex-shrink: 0;
}

/* #main-text div{
    border: 1px black solid;
} */

#text-container{
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#text-container :first-child {
    padding: 7px;
}

#text-container :last-child {
    padding: 7px;
}

*{
    border: none;
}

#advantages {
    flex-basis: 80vw;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    /* border: 1px black solid; */
    margin: 2vh;
    box-shadow: 0px 0px 2px black;
    flex-wrap: wrap;
}


#advantages > div{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

#advantages > div{
    /* border: 1px black solid; */
    
    flex-basis: 32%;
    flex-grow: 0;
    justify-content: center;
}


#advantages > div:hover {
    box-shadow: 0px 0px 2px black;;
}

#advantages img{
    height: 10vh;
    width: 10vw;
}

#advantage{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#advantages > div{
    margin:1vh;
}

#lower-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px black solid;
}

#lower-section > div{
    /* border: 1px black solid; */
    margin: 1vh;
}

#our-menu ,#explore-menu {
    padding:0.8vh;
}

#our-menu {
    border:1px black solid;
    background-color: green;
    color:white;
    font-size: 20px;
}

#explore-menu {
    font-size: 30px;
    font-weight: bold;
}

#food-gallery{
    display:grid;
    grid-template-rows:25vh 25vh 25vh;
    grid-template-columns:25vh 25vh 25vh 25vh;
    grid-template-areas:"p1 p1 p2 p3"
                        "p1 p1 p2 p4"
                        "p5 p6 p7 p4";
    grid-gap: 0.8vh;
}

#food-gallery > img{
    width : 100%;
    height: 100%;
    border-radius: 8px;
    padding: 0px;
}



#p1{
    grid-area:p1;
}

#p2{
    grid-area:p2;
}

#p3{
    grid-area:p3;
}

#p4{
    grid-area:p4;
}

#p5{
    grid-area:p5;
}

#p6{
    grid-area:p6;
}

#p7{
    grid-area:p7;
}


@media all and (max-width: 800px) {
    #food-gallery{
        display: grid;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
        grid-template-columns: 500px;
        grid-template-areas: "p1"
                             "p2"
                             "p3"
                             "p4"
                             "p5"
                             "p6"
                             "p7";
    }
}






















